# nginx proxy address - http://172.17.0.1:60189

name: dashly
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  app:
    image: lklynet/dashly:latest
    container_name: dashly-app
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      NGINX_DB_PATH: /data/sqlite/dashly.sqlite
    ports:
      - '172.17.0.1:60189:8080'
    volumes:
      - './rootfs/data/dashly:/data'
      - './rootfs/db/sqlite/dashly:/data/sqlite'
    networks:
      - dashly

networks:
  dashly:
    name: dashly
    external: false
